.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
    margin: 20px;
    padding-left: 100px;
    margin-right: 30px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 20px;
  
    


}
.sidebarItem {
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}
.sidebarTitle {
    margin: 10px;
    width: 80%;
    padding: 5px;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}

.sidebarItem > img {
    margin-top: 15px;
    width: 300px;
    height: 180px;

}
.sidebarItem > p {
    padding: 30px;
}
.sidebarList {
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem {
    display: inline-block;
    width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}